<!-- Modal -->
<div class="modal fade" id="modalCambiarContrasena" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static" >
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h5>
        <button type="button" class="btn-close btnCerrar" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <form id="cambiarContrasena" action="/cambiarContrasena/" method="POST">{% csrf_token %}

                        <input type="hidden" id="pk" name="pk" value="{{usuario.pk}}">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                            <input type="text" id="nombre" name="nombre" value="{{usuario.usuario.username}}" class="form-control" minlength="3" maxlength="30" placeholder="Nombre" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Contraseña Actual</label>
                            <input type="password" id="contrasena" name="contrasena" class="form-control" minlength="3" maxlength="70" placeholder="Contraseña" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Nueva Contraseña</label>
                            <input type="password" id="nuevaContrasena" name="nuevaContrasena" class="form-control" minlength="3" maxlength="70" placeholder="Nueva Contraseña" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Confirmar Contraseña</label>
                            <input type="password" id="confirmarContrasena" name="confirmarContrasena" class="form-control" minlength="3" maxlength="70" placeholder="Confirmar Contraseña" autofocus required>
                        </div>

                    </form>
                </div>
            </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" id="btnConfirmarContrasena" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    </div>
</div>